{
  "extends": ["galex"],
  "env": { "node": true },
  "rules": {
    "no-console": "off",
    "import/dynamic-import-chunkname": "off",
    "import/order": "off",
    "import/no-default-export": "off"
  },
  "root": true
}
