name: Release

# Run the workflow when a Pull Request is opened or when changes are pushed to master
on:
  push:
    branches:
      - main

jobs:
  runner-job:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [14.x]

    name: Node.js ${{ matrix.node }}

    steps:
      - uses: actions/checkout@v2

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
          cache: "yarn"
      - name: Install yarn latest
        run: yarn set version berry && yarn set version latest
      - name: Install deps
        run: yarn
      - name: Build
        run: yarn build
      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: yarn run semantic-release
